.result-page{
    padding: 200px 0;
    .result{
        background-color: blue;
        padding: 20px;
        color: white;
        -webkit-box-shadow: 1px 11px 25px 11px rgba(184,184,184,0.74);
        -moz-box-shadow: 1px 11px 25px 11px rgba(184,184,184,0.74);
        box-shadow: 1px 11px 25px 11px rgba(184,184,184,0.74);
        letter-spacing: 2px;
        .result-percentage{
            font-size: 100px;
            padding: 0px;
            margin: 20px 0;
            font-family: 'Roboto', sans-serif;
        }
        .result-heading{
            font-size: 40px;
            padding: 0px;
            margin: 20px 0;

        }
    }
}