@import '../../assets/scss/abstracts/variables';


.blue{
    color: $color-blue;
}

section{
    cursor: pointer;
    &:hover{
        opacity: 0.7;
    }
    .dropzone{
        background-color: $color-white;
        padding-top: 20px;
        padding-bottom: 5px;
        border: dashed $color-blue 1px;
    }
}