.home-page{
    padding: 200px 0;
    overflow: hidden;
    .left-section{
        padding: 0 20px;
    }

    .right-section{
        margin-top: 50px;
    }

    .home-heading{
        font-weight: bold;
        font-size: 50px;
        color: rgb(66, 65, 65);
        letter-spacing: 2px;

    }
}